{
  "extends": "eslint:recommended",
  "env": {
      "node": true
  },
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1 }],
    "camelcase": [2, { "properties": "never" }],
    "consistent-this": [2, "self"],
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
    "no-console": [0]
  }
}
